body{
    background-color: lightskyblue;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkred;
    border-bottom: 3px solid darkred;
}

p {
    font-style:italic;
}

#pizza {
    color: ivory;
}

.green{
    color:green;
}